body{
    font-family: Arial, Helvetica, sans-serif;
}

.container .row div{
    min-height: 80px;
}


.title-heart{
    text-align: CENTER;
    font-size: 2rem;
}

.bg-black{
    background-color: rgb(0, 0, 0);
}

.bg-bordeaux{
    background-color: rgb(219, 43, 43);
}

.bg-dark-red{
    background-color: rgb(167, 37, 37);
}

.border-black{
    border: 1px solid black;
    border-collapse: collapse;
}


.flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    font-size: 4rem;
}